<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Shelve</string>
    <key>CFBundleIdentifier</key>
    <string>com.shelve.app</string>
    <key>CFBundleVersion</key>
    <string>2.2</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Classify with Shelve</string>
            </dict>
            <key>NSMessage</key>
            <string>classifyFiles:userData:error:</string>
            <key>NSPortName</key>
            <string>Shelve</string>
            <key>NSSendTypes</key>
            <array>
                <string>NSFilenamesPboardType</string>
            </array>
            <key>NSReturnTypes</key>
            <array/>
        </dict>
    </dict>
    </array>
</dict>
</plist>
